
/*header*/
header{
    /* background-color: #fdfaf8; */
    /* height: 170px; */
    padding: 20px 20px 0; 
    /* font-weight: 600; */
    text-transform: capitalize;
    border-bottom: 1px solid var(--border-bottom);
}
header .row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding-bottom: 10px;
    gap: 0 10px;
}
header .row-1 .logo{
    font-size: clamp(4vw, 2rem, 3rem);
    font-weight: bold;
    color: #000000;
}
header .row-1 .logo .highlight{
    color:#BB4724;
}
header .row-1 .searchbar{
    display: flex;
    align-items: center;
    /* background-color: red; */
}
header .row-1 .searchbar *{
    /* border: none; */
    outline: none;
}
header .row-1 .searchbar input{
    width: 30vw;
    border-radius: 20px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    outline: none;
    /* border: 1px solid red;   */
    /* border-left: none;  */
    padding: 12px 0;
    padding-left: 10px;
    border: 1px solid var(--main-color);
    border-left: none;
    /* height: 100%; */
}
header .row-1 .user-exp{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
header .row-1 .user-exp a{
    color: #615e5e;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}
header .row-1 .user-exp a span{
    background-color: #F94F3D;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    width: 18px;
    display: inline-block;
    height: 18px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -10px;
}
header .row-1 .user-exp a {
    text-align: center;
}
header .row-1 .user-exp a .under{
    font-size: 12px;
    color: #9b9b9b;
}
header .row-1 .user-exp a i{
    font-size: 25px;
}
header .row-2{
    display: flex;
    align-items: center;
    padding: 15px 0;
    /* padding-bottom: 15px; */
    border-top: 1px solid var(--border-bottom);
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}
header .row-2 > ul{
    display: flex;
    flex-wrap: wrap;
    /* gap: 0 20px; */
    /* margin-left: 30px; */
    font-weight: 400;
    flex: 1;
    margin-left: 30px;
    /* text-align: center; */
}

header .row-2 > ul > li{
    /* font-size: px; */
    position: relative;
    margin-left: 20px;
    text-wrap: nowrap;
}

header .row-2 > ul li a {   
    color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
}

header .row-2 > ul li a i{
    padding-right: 8px;
    padding-left: 5px;
    font-size: 10px;
}

header .row-2 > ul li a i:first-child{
    font-size: 15px;
}
header .row-2 > ul li:hover a i:last-child{
    transform: rotate(180deg);
    transition: transform .5s;
}
/* header .row-2 .contact{
    flex: 1;
    text-align: right; 
    padding-right: 28px;
    font-size: 27px;
} */
header .row-2 > ul li .child-list{
    z-index: 1111111111;
    width: 200px;
    /* bottom: -130px; */
    padding: 15px 20px;
    background-color: #f6f6f6;
    position: absolute;
    text-align: center;
    top: 30px;
    left: -60px;
    height: 200px;
    display: none;
    transition: all .5s;
    border-radius: 10px;
}
header .row-2 > ul li .child-list li{
    margin: 10px 0;
}

header .row-2 > ul li:hover .child-list{
    display: block;
}
header .row-2 > ul li .child-list i{
    color: var(--main-color);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
header .row-2 > ul li .child-list li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    /* color: #fff; */
}
header .row-2 > ul li .child-list li a:hover{
    color: var(--main-color);
}

header .row-2 > ul li .child-list li a{

}

header .row-2 .contact a {
    color: black;
}
/*home page body*/
.main{
    margin-top: 50px;
}
.main .landing{
    height: calc(100vh - 100px);
    background-image:url(../img/woman3.jpeg);
    background-size: cover;
    background-position-y:center ;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    padding: 30px;
}


.main .landing .pic-text{
    font-size: 50px;
}
.main .landing .pic-text p{
    margin-top: 30px;
    font-size: clamp(4vw, 2rem, 3rem);
    /* background-color: #ffffff96; */
    padding: 0 20px;
    border-radius: 20px;
}
.main .landing .pic-text h1{
    font-size: clamp(8vw, 3rem, 8rem);
    /* color: red; */
    margin-top: 10px;
    padding: 0 20px;
    border-radius: 20px;
    color: #fff;
    text-shadow: 5px 4px var(--main-color);
}
.main .landing .pic-text a{
    color: white;
    background-color:#33AB33 ;
    display: inline-block;
    padding: 10px 18px 13px 18px;
    border-radius: 40px;
    /* margin-left: 150px; */
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 4px 4px 0px #298D29;
    transition: transform .5s;
}
.main .landing .pic-text a:hover{
    transform: scale(1.1);
}

.main .circles{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    gap:  20px 60px;
    margin-top: 60px;
    text-align: center;

}
.main .circles .circle{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.main .circles .circle .image{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform .5s ease-in-out;
    width: 120px;
    height: 120px;
    background-color:#47B9C1;
    border-radius: 50%;
    box-shadow: 8px 2px 0px #368d91;
    cursor: pointer;
}
.main .circles .circle-3 .image , .circle-5 .image{
    padding-top: 20px;
}
.main .circles .circle-4 .image {
    padding-bottom: 15px;
    padding-left: 3px;
}
.main .circles .circle-5 .image {
    padding-bottom: 15px;
    padding-left: 3px;
}

.main .circles .circle .image img{
    width: 100%;
}
.main .circles .circle .image:hover{
    transform: scale(1.2);
}

.main .circles .circle  p{
    padding-top: 8px;
    transform:translateY(0px)  ;
    transition: transform .5s ease-in-out;  
}

.main .circles .circle:hover p{
    transform:translateY(20px)  ;
}

.main .featured{
    margin-top: 70px;
    padding: 30px 60px;
}

.main .featured h2{
    font-size: 3vw;
    padding-bottom: 30px;
    font-weight: 600;
}

.main .featured h2 i{
    padding-left: 15px;
}

.main .featured .items{
    padding-top: 30px;
    display: flex;
    gap:70px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.main .featured .items .item{
    background-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px var(--box-shadow);
    transform:scale(1);
    transition: transform 0.5s ease-in-out;
}

.main .featured .items .item:hover{
    transform:scale(1.1);
}

.main .featured .items .item .image{
    height:300px; 
    padding-bottom: 20px;
    position: relative;
}

.main .featured .items .item .image span.sale{
    color:white;
    background-color:#F94F3D;
    padding: 2px 8px;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top:15px;
}

.main .featured .items .item .image img{
    height:100%;
    border-radius: 10px;
}
.main .featured .items .item .name{
    padding: 5px 15px;
}

.main .featured .items .item .rating{
    padding: 5px 15px 10px 15px;
}

.main .featured .items .item .price{
    padding: 0px 15px;
}

.main .featured .items .item .price span.after{
    padding-right: 7px;
    font-size: 20px;
}

.main .featured .items .item .price span.before{
    font-size: 15px;
    color: rgb(82, 82, 82);
    text-decoration: line-through;
}
/* recommended For you */
.recommended{

}
.main .recommended .row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
}
.main .recommended h2{
    padding-bottom: 0;
    font-size: 3vw;
}

.main .recommended .row-1 ul{
    display: flex;
    gap: 0 15px;
}
.main .recommended .row-1 ul li{
    text-wrap: nowrap;
}

.main .recommended .row-1 ul li a{
    padding: 8px 0;
    color: #000;
    font-size: 2vw;
}
.main .recommended .row-1 ul li a:hover{
    border-bottom: 1px solid #000;
}
.main .recommended .row-1 ul li a.active{
    border-bottom: 1px solid #000;
}
/* deal */
.main .deal{
    padding: 30px 60px;
}
.main .deal .row-1{
    display: flex;
    align-items: center;
    border: 1px solid var(--border-bottom);
    border-radius: 20px;
}

.main .deal .col-1{
    border-right: 1px solid var(--border-bottom);
    width: 70vw;
}
.main .deal .col-1 img{
    width: 100%;
}
.main .deal .col-2{
    padding: 20px 30px;
}
.main .deal .col-2 h2{
    padding-bottom: 20px;
}
.main .deal .col-2 .rating{
    display: flex;
    gap: 0 5px;
    padding-bottom: 10px;
}
.main .deal .col-2 .info h3{
    padding: 10px 0;
}
.main .deal .col-2 .info p.desc{
    color: rgb(82, 82, 82);
    padding-bottom: 10px;
}
.main .deal .col-2 .info .price{
    display: flex;
    align-items: center;
}
.main .deal .col-2 .info .price span:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
}
.main .deal .col-2 .info a{
    display: inline-block;
    background: var(--main-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    margin: 10px 0;
}
.main .deal .col-2 .info .price span:nth-child(2){
    color: rgb(82, 82, 82);
    font-size: 22px;
    text-decoration: line-through;
}
.main .deal .col-2 .info p.offer{
    font-weight: bold;
    padding-bottom: 5px 0 10px 0;
}
.main .deal .col-2 .info .date{
    display: flex;
    gap: 0 10px;
    padding-top: 10px;
}
.main .deal .col-2 .info .date span{
    padding: 15px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
    text-align: center;
}

.main .deal .col-2 .info .date span p:nth-child(2){
    color: rgb(69, 69, 69);
}

/* partners */
.partners{
    margin: 60px 0;
}
.partners h2{
    text-align: center;
    padding-bottom: 30px;
}
.partners .images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 70px;
    /* fill: ; */
}
.partners .images img{
    height: 100px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter .5s;
}
.partners .images img:hover{
    filter: grayscale(0);
}
/*services*/
.services {
    /* margin: 40px 0; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 30px;
    margin: 40px;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px var(--box-shadow);
    align-items: center;
    gap: 40px;
    color: #363636;
    background-color: #fdfaf8;
}

.services .box{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.services .box i{
    font-size: 30px;
}
.services > div:not(:last-child) {
    border-right: 1px black solid;
    padding-right: 50px;
}

/*  ========================footer======================== */
footer{
    background-color: rgb(37, 37, 37);
    color: white;
}
footer .row-1{
    display: grid;
    grid-template-columns:  repeat(auto-fill , minmax(250px,auto));
    justify-content: center;
    gap: 20px;
    padding: 30px 60px;
}
footer .row-1 a{
    color: rgb(136, 136, 136);
    display: inline-block;
    padding-top:5px ;
}

footer .row-1 h3{
    padding-bottom: 15px;
}
footer .row-1 .col-1 .logo{
    font-size: 30px;
}
footer .row-1 .col-4 .app{
    display: flex;
    align-items: center;
    gap:0px 10px ;
}
footer .row-1 .col-4 .app .qr{
    height: 120px;
}
footer .row-1 .col-4 .app .qr img{
    height: 100%;
}
footer .row-1 .col-4 .app .downloads{
    width: 150px;
}
footer .row-1 .col-4 .app .downloads img{
    width: 100%;
}
footer .row-2{
    text-align: center;
    background-color: #9b9b9b;
    padding: 10px 0 !important;
}
footer .row-2 p{
    text-wrap: wrap;
}
@media only screen and (max-width:345px){
    .main .recommended .row-1{
        gap: 0 20px;
    }
    .main .recommended .row-1 ul{
        flex-wrap: wrap;
    }
    .main .landing .pic-text h1{
        font-size: 40px;
    }
    .partners .images img{
        height: 90px;
    }
}
@media only screen and (max-width:450px){
    .main .deal{
        padding: 0;
    }
}








